<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project=> { %>
                <% const formattedDate=new Date(project.date).toLocaleDateString('en-US'); %>
                    <li>
                        <%= formattedDate %>: <%= project.title %> (<em>
                                    <%= project.organization_name %>
                                </em>)
                    </li>
                    <% }) %>
        </ul>
    </main>
    <%- include('partials/footer') %>